<h1>Login</h1>

<% if flash[:alert] %>
	<strong><%= flash[:alert] %></strong>
<% end %>

<%= form_for :user, url: authorise_path do |f| %>

	<%= f.label :email %>:
	<%= f.text_field :email %><br/>

	<%= f.label :password %>:
	<%= f.password_field :password %><br/>

	<%= f.submit "Login" %>

<% end %>